.title-background {
    background-color: #C00404;
}

.club-title {
    text-align: center;
    justify-content: center;

    padding: 5%;
    margin: 0% 5%;
    margin-bottom: 0%;
    /* margin-left: 20%;
    margin-right: 20%; */
    font-family: "Playfair Display", serif;

    background-color: beige;

    text-transform: uppercase;

    /* border: black solid 0.1vw; */
}

.home-title {
    color: black;
    font-size: 6.5vw;

    animation: fadeIn 2s;
}

.club-logistics {
    /* background-color: #C00404; */
    display: block;
    font-family: "Space Grotesk", sans-serif;


    background-color: #f8f7f5;
    padding-top: 2%;
    padding-bottom: 5%;

    border-bottom: black solid 0.1vw;
}

.about-title {
    /* align-items: center;
    text-align: center;
    justify-content: center; */
    /* font-family: "Playfair Display", serif; */


    font-size: 2.35vw;
    font-weight: 700;
    margin-left: 15%;

    animation: fadeIn 2s;
}

.club-logistics-paragraphs {
    animation: fadeIn 2s;
    margin-left: 7%;
    margin-right: 7%;

    font-size: 1.35vw;

    line-height: 2.5em;
}

.meeting-map {
    text-align: center;

    border: 0;
    margin: 2vw;
}

.player-signup {
    background-color: #C00404;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: "Space Grotesk", sans-serif;

    display: block;

    color: white;

    padding-bottom: 5%;

}

.compete-title {
    /* font-family: "Playfair Display", serif; */
    font-size: 2.35vw;
    font-weight: 700;

    animation: fadeIn 2s;

    /* float: right; */
    text-align: right;
    margin-right: 15%;

    margin-top: auto;

    padding-top: 5%;
}

.join-form {
    text-align: center;
    /* align-items: center; */
    margin-top: 5%;
    margin-bottom: 2%;

    animation: fadeIn 2s;

}

.email-input {
    margin: 2%;
    padding: 0.9vw;
    padding-right: 5vw;

    font-size: 1.25vw;
    font-family: "Space Grotesk", sans-serif;

    letter-spacing: 0.05vw;

    transition: none;

    border: black solid 0.05vw;
    border-radius: 0.5em;
}

input:focus {
    outline: none;
}

.join-button {
    border: none;
    border-radius: 0.5em;

    font-family: "Space Grotesk", sans-serif;
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 1vw;

    letter-spacing: 0.05vw;
    text-transform: uppercase;

    padding: 0.75% 1.25%;

    background-color: #FFC72C;
    color: black;
}

.join-button:hover {
    background-color: white;
    color: #C00404;
    cursor: pointer;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}