.header-container {
    display: flex;
    /* margin-top: -1rem; */
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;

    /* height: 10rem; */
    height: 7rem;
}

.logo {
    position: relative;
    transform: scale(50%);
    justify-content: start;
    width: 15rem;
    height: auto;
}

/* .cue-sticks-design {
    transform: scale(20%);
    vertical-align: top;

    width: 30%;
    height: auto;

    margin: auto;
} */

.page-links {
    justify-content: end;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    width: 100%;

}

.site-header-links {
    padding: 2vw;
    text-decoration: none;
    font-size: 1.3vw;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.site-header-links:hover {
    color: #C00404;
}